body {
  font-size: 12px;
  font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.form-control {
  font-size: 13px;
}

body,
td,
th,
span,
strong,
div,
p {
  color: #333;
}

th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  cursor: pointer;
  background: #dc3545 !important;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
}

th.group{
  background: #b62836 !important;
}

td{
  white-space: nowrap;
}

td i:not(:last-child) {
  margin-right: 5px;
  display: inline-block;
}

td i.text-light {
  color: #bbb !important;
}

td i.text-danger {
  font-weight: bold;
  font-style: normal;
}

td i.text-warning {
  font-weight: bold;
  font-style: normal;
}

td.bg-light {
  background-color: #eee !important;
}

.symbol-name {
  font-size: 13px;
  font-weight: bold;
}

.symbol-name span {
  color: #999;
  font-size: 12px;
  font-weight: normal;
}
